<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <title>Compra Finalizada</title>
  <link rel="stylesheet" href="../VIew/Media/compra_finalizada.css">
</head>
<body>
  <header>
    <div class="header-content">
      <div class="logo">
        <img src="../VIew/Media/Logo_Branca.png" alt="Logo">
      </div>
      <nav>
        <ul class="menu">
          <li><a href="#">Smartphones</a></li>
          <li><a href="#">Tablets</a></li>
          <li><a href="#">Fones</a></li>
          <li><a href="#">Relógios</a></li>
          <li><a href="#">Notebooks</a></li>
        </ul>
      </nav>
      <div class="icons">
        <span>🔍</span>
        <span>👤</span>
        <span>🛒</span>
      </div>
    </div>
  </header>

  <div class="background">
    <div class="confirmation-container">
      <h1>Compra Finalizada</h1>
      <img src="../VIew/Media/Check.png" alt="Check" class="check-icon">
      <p>Seu pagamento foi aprovado e sua compra foi concluída com sucesso.<br>
        Em breve, você receberá um e-mail com todas as informações e o código de rastreamento assim que o pedido for enviado.<br>
        Caso tenha dúvidas ou precise de suporte, entre em contato. Obrigado por comprar conosco.</p>
      <button class="btn-ver">VER</button>
    </div>
  </div>
</body>
</html>
