<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <title>confirmação ADM2</title>
  <!-- Importando FontAwesome para os ícones -->
  <link rel="icon" type="image/png" href="../VIew/Media/Ícone_Guia_Navegador_Site.png">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
  <link rel="stylesheet" href="../VIew/Media/Css/Confirmacao_ADM2.css">
</head>
<body>
  <header>
    <!-- Cabeçalho da página -->
    <div class="header-content">
      <div class="logo">
        <!-- Logo da empresa -->
        <img src="../VIew/Media/Logo_Branca.png" alt="Logo da empresa">
      </div>
  
      <nav>
        <!-- Menu de navegação -->
        <ul class="menu">
          <li><a href="#">Smartphones</a></li>
          <li><a href="#">Tablets</a></li>
          <li><a href="#">Fones</a></li>
          <li><a href="#">Relógios</a></li>
          <li><a href="#">Notebooks</a></li>
        </ul>
      </nav>
  
      <div class="icons">
        <i class="fas fa-search"></i>
        <i class="fas fa-user"></i>
        <i class="fas fa-shopping-bag"></i>
        <i class="fas fa-box"></i> <!-- Ícone de Pedidos -->
      </div>
    </div>
  </header>

  <div class="background">
    <div class="titulo-wrapper">
      <h1 class="titulo-confirmacao">Administrador</h1>
    </div>
    <div class="verification-container">
      <img class="check-icon" src="../VIew/Media/Ícone_Check_Branco.png" alt="Ícone de confirmação">
      <p>Seu código foi validado com sucesso.<br>Agora você pode acessar a plataforma como administrador.</p>
      <button class="botao-entrar">ENTRAR</button>
    </div>
  </div>

</body>
</html>
