<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Verificação Cadastro</title>
  <link rel="stylesheet" href="../VIew/Media/Verificação.css">
</head>
<body>

<header>
    <div class="logo">
        <img src="../VIew/Media/INDEX.png" alt="Logo da empresa">
      </div>
    
  <nav>
    <a href="#">Smartphones</a>
    <a href="#">Tablets</a>
    <a href="#">Fones</a>
    <a href="#">Relógios</a>
    <a href="#">Notebooks</a>
  </nav>
</header>

<main>
  <div class="verification-container">
    <h1>Verificação</h1>
    <p>Um código foi enviado para o seu e-mail para verificação.<br>Por favor, insira-o abaixo:</p>
    <input type="text" placeholder="XXX-XXX">
    <br>
    <button>ENVIAR</button>
  </div>
</main>

</body>
</html>
