<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Verificação Cadastro</title>
  <link rel="stylesheet" href="../VIew/Media/Verificação.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
</head>
<body>

<header>
  <div class="header-content">
    <div class="logo">
      <img src="../VIew/Media/Logo_Branca.png" alt="Logo da empresa">
    </div>

    <nav>
      <ul class="menu">
        <li><a href="#">Smartphones</a></li>
        <li><a href="#">Tablets</a></li>
        <li><a href="#">Fones</a></li>
        <li><a href="#">Relógios</a></li>
        <li><a href="#">Notebooks</a></li>
      </ul>
    </nav>

    <div class="icons">
      <i class="fas fa-search"></i>
      <i class="fas fa-user"></i>
      <i class="fas fa-shopping-bag"></i>
      <i class="fas fa-box"></i> <!-- Ícone de Pedidos -->
    </div>
    
  </div>
</header>

<main class="background">
  <div class="verification-container">
    <h1>Verificação</h1>
    <p>Um código foi enviado para o seu e-mail para verificação.<br>Por favor, insira-o abaixo:</p>
    <input type="text" placeholder="XXX-XXX">
    <br>
    <button>ENVIAR</button>
  </div>
</main>

</body>
</html>
